@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;900&display=swap");
/* root */
:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navblack: black;
  --navocean: #404bbf;
  --navslate: #434455;
  --navwhite: white;
  --navcloud: #f4f4fd;
  --navcornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --grey: #2e2f42;
  --green: #31d0aa;
  --navyblue: #2e2f42;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--navslate);
  background-color: var(--navwhite);
}

html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
  }
}

.contacts-menu {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--navcornflower);
}

.logo-link.footer {
  margin-bottom: 20px;
}

.logo-link {
  text-decoration: none;
  font-size: 0;
  text-align: center;
}

.logo-link > span {
  font-size: 18px;
}
.logo,
.studio,
.studio-footer {
  color: var(--iriscolor);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  display: inline-block;
}

.studio {
  color: var(--navyblue);
}

.page-footer .studio-footer {
  color: var(--navcloud);
  text-align: justify;
}

.footer-description {
  color: var(--navcloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 17px;
  text-align: justify;
}

.nav-menu .page,
.contacts-menu .contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: var(--navyblue);
  font-size: 16px;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.hero-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--navwhite);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
  }
}

.bg-team {
  background-color: var(--navcloud);
}

.contacts-menu .contact {
  text-decoration: none;
  line-height: 1.14;
  font-weight: 400;
  color: var(--navslate);
  letter-spacing: 0.02em;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-m.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/people-office-m@2x.jpg);
  }
}

@media screen and(min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-t.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/people-office-t@2x.jpg);
    }
  }
}

@media screen and(min-width: 1158x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-d.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/people-office-d@2x.jpg);
    }
  }
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.button.primary {
  background-color: var(--iriscolor);
  color: var(--navwhite);
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--navocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: flex;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -30px; */
  /* margin-top: -30px; */
  text-align: center;
  font-size: 36px;
  gap: 72px;
}

@media screen and (min-width: 1158px) {
  .benefits {
    flex-wrap: nowrap;
  }
}

.benefits-item {
  flex-basis: 100%;
  /* margin-left: 30px;
  margin-top: 30px; */
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 30px) / 2);
  }
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  margin-bottom: 10px;
  line-height: 1.14;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}

/* desktop screen */

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px;
  }
}

.no-top-padding {
  padding-top: 0;
}

.benefits {
  color: var(--navslate);
}

.description {
  line-height: 1.17;
  font-size: 15px;
  font-weight: 400;
}

.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  margin-bottom: 50px;
}

.what-section-title {
  float: none;
}

@media screen and (min-width: 1158px) {
  .what-section-title {
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

@media screen and (min-width: 1158px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team .team-item {
  /* margin-left: 30px;
  margin-top: 30px; */
  padding-bottom: 30px;
  background-color: var(--navwhite);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  color: var(--navyblue);
  font-weight: 400;
  font-size: 16px;
}

.team-icons-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 19px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navcloud);
  background-color: var(--iriscolor);
  transition: background-color 250ms ease-in-out;
}

.social-media-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--navocean);
}

.substrate {
  background-color: var(--navwhite);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue);
}

.footer-title {
  display: flex;
  justify-content: space-between;
  margin-right: 600px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navcloud);
  background-color: var(--iriscolor);
}

.footer-media-icon {
  fill: currentColor;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  vertical-align: middle;
  justify-content: center;
  gap: 70px;
}

@media screen and (min-width: 1158px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    vertical-align: middle;
    justify-content: center;
    gap: 0 auto;
  }
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--navocean);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .space + .space {
  margin-left: 8px;
}

.button.filter {
  background-color: var(--navcloud);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--navocean);
  color: var(--navcloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project {
  color: var(--navslate);
  font-weight: 400px;
  line-height: 1.87;
  font-size: 16px;
}

.type {
  color: var(--navslate);
  font-weight: 400px;
  line-height: 1.87;
  font-size: 16px;
}

.container {
  /* width: 1200px; */
  /* width: 428px; */
  margin: 0 auto;
  padding: 0 15px;
}

/* ipad screen */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* desktop screen */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.what-we-do {
  display: none;
}

@media screen and (min-width: 1158px) {
  .what-we-do {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.what-we-do .item-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms ease-in-out; */
}

@media screen and (min-width: 768px) {
  .project-card {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1158px) {
  .project-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms ease-in-out;
  }
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.benefits-svg-icons {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-svg-icons {
    display: flex;
    background: var(--cloud, #f4f4fd);
    width: 100%;
    height: 112px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 6px;
  }
}

.customer-icons-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1158px) {
  .customer-icons-list {
    flex-wrap: nowrap;
  }
}

.customer-icon-item {
  width: calc((100% - 30px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customer-icon-item {
    width: calc((100% - 60px) / 3);
  }
}

.customer-icon {
  fill: currentColor;
}

.customer-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navwhite);
  color: var(--lightslate);
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--navocean);
  border-color: var(--navocean);
}

.footer-heading {
  color: var(--navcloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.customer-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navcloud);
  background-color: var(--iriscolor);
  transition: background-color 250ms ease-in-out;
}

.customer-icon-link:hover,
.customer-icon-link:focus {
  background-color: var(--green);
}

.social-footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {
  .modal {
    height: auto;
  }
}

.modal-title {
  text-align: center;
  color: var(--navblack);
  margin-bottom: 34px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--cornflower, #e7e9fc);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--navocean);
  color: var(--navwhite);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.project-description {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iris, #4d5ae5);
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover .project-text,
.project:focus .project-text {
  transform: translateY(0);
}

.page {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page:hover,
.page:focus {
  color: var(--iriscolor);
}

.page::after {
  content: "";
  border-radius: 2px;
  border: 2px solid transparent;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page:hover::after,
.page:focus::after {
  border: 2px solid var(--navocean);
  background-color: var(--navocean);
  width: 100%;
}

.menu-active::after {
  content: "";
  border: 2px solid var(--navocean);
  border-radius: 2px;
  background-color: var(--navocean);
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.contact {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-active,
.contact:hover,
.contact:focus {
  color: var(--ocean, #404bbf);
}

.contacts-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-menu {
    display: flex;
    gap: 40px;
  }
}

.signup_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label-form {
  display: block;
  position: relative;
}

.input-form,
.form-textarea {
  width: 100%;
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;
  line-height: 14px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.48px;
  resize: none;
}

.form-textarea {
  resize: none;
  padding-left: 16px;
  height: 120px;
  margin-bottom: 16px;
}

.input-form:hover,
.input-form:focus,
.form-textarea:hover,
.form-textarea:focus {
  outline: none;
  border-color: var(--iriscolor);
}
.button-form-agree {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;
  border-color: transparent;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-form-agree.primary {
  background-color: var(--iriscolor);
  color: var(--navwhite);
  line-height: 1.87;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding: 10px 32px;
  min-width: 169px;
}

.button-form-agree.primary:hover,
.button-form-agree.primary:focus {
  background-color: var(--navocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-label-subscribe {
  display: block;
  color: var(--navwhite);
  font-weight: 500;
}

.footer-form-input {
  color: var(--navwhite);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  font-size: 14px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  border-radius: 4px;
  border: 1px solid var(--navwhite, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-input {
    width: 264px;
  }
}

.footer-form-input::placeholder {
  color: var(--navwhite, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-form-button {
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--navwhite);
  background: var(--iriscolor, #4d5ae5);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-form-button {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-button {
    align-self: flex-end;
  }
}

.footer-icon-subscribe {
  width: 24px;
  height: 24px;
}
.footer-form-button:hover {
  background-color: var(--navocean);
}

.footer-icon-subscribe {
  width: 24px;
  height: 24px;
}

/* .footer-container {
  margin-left: 125px;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: block;
    grid-column-start: auto;
  }
} */

.footer-form {
  /* height: 80px; */
  flex-shrink: 0;
  margin-left: 50px;
}

.footer-address {
  text-align: center;
}

.footer-form-item {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-form-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}

.footer-form-title {
  color: var(--navcloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.footer-label-subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-subscribe {
  margin-top: 10px;
  justify-content: center;
  gap: 16px;
}

.footer-subscribe-title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-title {
    text-align: left;
  }
}

.form-title {
  position: absolute;
  top: -20px;
  color: var(--lightslate);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.4px;
}

.form-icon {
  position: absolute;
  top: 30%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--navblack);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-icon {
  fill: none;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.form-privacy-policy {
  color: var(--iriscolor);
}

.form-agreement-detail {
  color: var(--lightslate);
  font-size: 12px;
}

.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--iriscolor);
  border-color: var(--iriscolor);
  fill: var(--navwhite);
}

.form-checkbox-icon .input-form:hover + .form-icon,
.input-form:focus + .form-icon {
  fill: var(--iriscolor);
}

.label-agree-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--navwhite);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mob-menu-item {
  margin-bottom: 32px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--iriscolor);
}

.mob-menu-address {
  font-style: normal;
}
.mob-menu-address-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-link:hover,
.mob-menu-address-link:focus {
  color: var(--iriscolor);
}

.mobile-social-footer {
  display: flex;
  justify-content: space-between;
}

.mobile-icon-item {
  width: 40px;
  height: 40px;
}

.mob-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navcloud);
  background-color: var(--iriscolor);
  transition: background-color 250ms ease-in-out;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:hover,
.mob-icon-link:focus {
  background-color: var(--navocean);
}

.mob-media-icon {
  fill: currentColor;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 0;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 96px;
    row-gap: 0;
  }
}

.mobile-footer {
  margin-bottom: 48px;
}
